{% extends "base.html" %}

{% block content %}

    <h1><img src="static/images/taxi_logo.png"> Taxi Service Web Application</h1>
    <p>Welcome to fair Taxi Service!</p>
    <h2>Dynamic content</h2>
    <p>The Taxi service has the following record counts:</p>
    <ul>
        <li><strong><img src="static/images/car.png"> Cars:</strong> {{ num_cars }}</li>
        <li><strong><img src="static/images/driver.png"> Drivers:</strong> {{ num_drivers }}</li>
        <li><strong><img src="static/images/manufacturer.png"> Manufacturers:</strong> {{ num_manufacturers }}</li>
    </ul>
        <br>
    <p style="font-size: small">You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
