<ul class="sidebar-nav list-group">
  <li class="list-group-item">
    <p><h5>Taxi-Service</h5></p>
      <div style="font-size: xx-small">
    <p>Django project for managing drivers and cars in Taxi Service web-application.</p>
    <p><strong>Some features:</strong></p>
    <ul>
      <li>Authentication functionality for User/Driver</li>
      <li>Managing drivers, cars and manufacturers directly in web interface</li>
      <li>Powerful admin panel for advanced managing</li>
    </ul>
          <br>
    <p><strong>Try it yourself!</strong></p>
    <ul>
      <li>Username: admin</li>
      <li>Password: admin12345</li>
      <li><strong style="color: darkred">Attention: Please, do not delete any data!</strong></li>
    </ul>
          </div>
  </li>
</ul>
